<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FilmManagementSystem-Phase3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateFilm</display-name>
    <servlet-name>CreateFilm</servlet-name>
    <servlet-class>org.capgemini.controller.CreateFilm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateFilm</servlet-name>
    <url-pattern>/CreateFilm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFilm</display-name>
    <servlet-name>AddFilm</servlet-name>
    <servlet-class>org.capgemini.controller.AddFilm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFilm</servlet-name>
    <url-pattern>/AddFilm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveServlet</display-name>
    <servlet-name>SaveServlet</servlet-name>
    <servlet-class>org.capgemini.controller.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/SaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveFilmServlet</display-name>
    <servlet-name>SaveFilmServlet</servlet-name>
    <servlet-class>org.capgemini.controller.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveFilmServlet</servlet-name>
    <url-pattern>/SaveFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllFilms</display-name>
    <servlet-name>GetAllFilms</servlet-name>
    <servlet-class>org.capgemini.controller.GetAllFilms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllFilms</servlet-name>
    <url-pattern>/GetAllFilms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFilm</display-name>
    <servlet-name>DeleteFilm</servlet-name>
    <servlet-class>org.capgemini.controller.DeleteFilm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFilm</servlet-name>
    <url-pattern>/DeleteFilm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFilm2</display-name>
    <servlet-name>DeleteFilm2</servlet-name>
    <servlet-class>org.capgemini.controller.DeleteFilm2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFilm2</servlet-name>
    <url-pattern>/DeleteFilm2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFilm</display-name>
    <servlet-name>SearchFilm</servlet-name>
    <servlet-class>org.capgemini.controller.SearchFilm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFilm</servlet-name>
    <url-pattern>/SearchFilm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmSearch</display-name>
    <servlet-name>FilmSearch</servlet-name>
    <servlet-class>org.capgemini.controller.FilmSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmSearch</servlet-name>
    <url-pattern>/FilmSearch</url-pattern>
  </servlet-mapping>
</web-app>